.el-footer {
  width: 100%;
  .com-footer {
    margin-top: 40px;
    background: #000;
  }

  .com-footer .footer-content {
    width: 100%;
    margin: 0 auto;
    color: #333;
    font-size: 12px;
    line-height: 2;
    box-sizing: border-box;
    text-align: left;
  }

  .com-footer .footer-content p {
    margin: 0;
  }

  .com-footer .footer-content .footer-link {
    padding: 20px 45px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 358px;
  }

  .com-footer .footer-content .footer-link .footer-column {
    width: 20%;
    float: left;
    text-align: center;
    .enter {
      font-size: 16px;
    }
      .ykm-section-title {
        font-size: 16px;
        padding-bottom: 18px;
        color: white;
      }
    }
  }

  .com-footer .footer-content .footer-link dl {
    padding-bottom: 20px;
    padding-left: 100px;
    color: white;
    float: left;
  }

  .com-footer .footer-content .footer-link dl dt {
    font-size: 18px;
    font-weight: 500;
  }
  .com-footer .footer-content .footer-link dl dd {
    font-size: 14px;
  }
  .com-footer .footer-content .footer-link dl a {
    color: #666;
  }

  .com-footer .footer-content .footer-link dl a:hover {
    color: #fe6428;
  }

  .com-footer .footer-content .footer-copyright {
    color: #999;
    padding-top: 15px;
    line-height: 1.6;
  }

  .com-footer .footer-content .footer-copyright a {
    color: #999;
  }

  .com-footer .footer-content .footer-copyright a:hover {
    color: #fe6428;
  }

  .com-footer .footer-content .footer-copyright .footer-copyright-left {
    float: left;
    padding-left: 40%;
    text-align: center;
  }

  .com-footer .footer-content .footer-copyright .footer-copyright-right {
    float: right;
    text-align: right;
    padding-right: 45%;
  }

  .com-footer .footer-content .footer-copyright .footer-copyright-cert {
    text-align: left;
    padding-top: 6px;
  }

  .com-footer .footer-content .footer-copyright .footer-copyright-cert a.sp-ft {
    display: inline-block;
    overflow: hidden;
    text-indent: -1000px;
    height: 38px;
    background-repeat: no-repeat;
    margin-right: 2px;
  }

  .com-footer
    .footer-content
    .footer-copyright
    .footer-copyright-cert
    .sp-ft--record {
    width: 109px;
    background-position: 0 -167px;
  }

  .com-footer
    .footer-content
    .footer-copyright
    .footer-copyright-cert
    .sp-ft--knet {
    width: 107px;
    background-position: 0 -127px;
  }

  .com-footer
    .footer-content
    .footer-copyright
    .footer-copyright-cert
    .sp-ft--12315 {
    width: 107px;
    background-position: 0 -40px;
  }

  @media screen and (max-width: 1200px) {
    .com-footer .footer-content {
      width: 960px;
    }

    .com-footer .footer-content .footer-title-module {
      padding-right: 40px;
    }

    .com-footer .footer-content .footer-title {
      margin-left: 0;
    }

    .com-footer .footer-content .footer-search-block,
    .com-footer .footer-content .footer-search-hotword {
      width: 500px;
    }
  }

  .com-footer li,
  .com-footer ul {
    padding: 0;
    margin: 0;
  }

  .com-footer .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .com-footer input {
    outline: 0;
  }

  .com-footer a {
    text-decoration: none;
  }

  .com-footer li {
    list-style: none;
  }

  .com-footer dd,
  .com-footer dl {
    margin: 0;
  }

