body {
  .re {
    height: 100%;
    background: #000;
    .page-register {
      .header {
        border-bottom: 2px solid white;
        min-width: 980px;
        color: #666;

        header {
          margin: 0 auto;
          padding: 10px 0;
          width: 980px;

          .site-logo {
            display: inline-block;
            // width: 128px;
            width: 250px;
            height: 77px;
            text-indent: -9999px;
            background-position: -738px -710px;
            background-image: url(https://halen-blog-1252760404.cos.ap-chengdu.myqcloud.com/img/20200416192139.png);
          }

          .login {
            float: right;
          }

          .bold {
            font-style: normal;
          }
        }
        .el-button--small {
          background: #fe6428;
          border: none;
          outline: none;
        }
        span {
          color: white;
          font-size: 14px;
        }
        .bold {
          color: white;
        }
      }

      > section {
        margin: 0 auto 30px;
        padding-top: 30px;
        width: 980px;
        min-height: 300px;
        padding-right: 550px;
        box-sizing: border-box;
        position: relative;

        .status {
          font-size: 12px;
          margin-left: 20px;
          color: #fe6428;
        }

        .error {
          color: red;
        }
        .el-button {
          border-radius: 30px;
        }
        .el-button--primary {
          width: 250px;
          height: 45px;
          background: #fe6428;
          border-color: #fe6428;
          &:hover {
            background-image: linear-gradient(
              transparent,
              rgba(0, 0, 0, 0.05) 40%,
              rgba(0, 0, 0, 0.1)
            );
          }
        }
      }
      .demo-ruleForm {
        border-radius: 15px 15px 15px 15px;
        background-color: #ecf0f1;
        position: absolute;
        left: 550px;
        top: 100px;
        .userRegister {
          color: #fe6428;
          line-height: 70px;
          font-size: 24px;
          margin-top: 50px;
          font-weight: bold;
          text-align: center;
          margin-left: 179px;
        }
      }
      .el-form-item__content {
        margin-right: 40px;
        margin-top: 10px;
      }
      .el-form-item {
        margin-bottom: 16px;
      }
      .el-form-item__label {
        margin-top: 10px;
      }
      .f1 {
        font-size: 14px;
        color: #fe6428;
        margin-left: 35px;
      }
      .el-input1 {
        margin-top: 0px !important;
      }
    }
  }
}
.el-message {
  margin-top: 100px;
}
