@import "./topbar.scss";
@import "./search.scss";
.m-header{
  @at-root .layout-default{
    .el-header{
      .m-header {
        width: 100%;
        height:40px;
        background-color:#fe6428;
      }
    }
  }
  >.el-row:nth-child(1){
    width: 1190px;
    margin: 0 auto;
    z-index: 9999;
    height: 40px;
    line-height: 40px;
  }
  >.el-row:nth-child(2){
    height:625px;
    background-image:url('https://www.51wm.com/static/images/index/maxBg.jpg');
    .search-panel{
      width: 1190px;
      margin: 0 auto;
    }
  }
  >.el-main {
    overflow: unset;
  }
}
