.layout-blank {
  background:#000;
    .page-login {
      .header1 {
        border-bottom: 2px solid white;
        .login-header {
          position: relative;
          width: 980px;
          margin: 0px auto 10px;
          .logo {
            display: inline-block;
            width: 128px;
            width: 250px;
            height: 70px;
            margin-top:5px;
            text-indent: -9999px;
            background-position: -738px -718px;
            background-image: url(https://halen-blog-1252760404.cos.ap-chengdu.myqcloud.com/img/20200416192139.png);
          }
        }
      }
      .login-panel {
        margin: 0 auto 70px;
        width: 980px;
        display: flex;
        .banner {
          margin-right: 115px;
          margin-top: 100px;
        }
        .form {
          display: flex;
          flex-direction: column;
          width: 355px;
          background-color: #ecf0f1;
          border-radius: 15px;
          margin-top: 100px;
          .tips {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #f5d8a7;
            border-radius: 2px;
            background: #fff6db;
            font-size: 12px;
            padding-left: 26px;
            > i {
              position: relative;
              &:after {
                position: absolute;
                display: inline-block;
                width: 17px;
                height: 17px;
                font-family: iconfont;
                font-style: normal;
                content: "\e64d";
                font-size: 28px;
                top: -9px;
                left: -24px;
              }
            }
          }
          em {
            font-style: normal;
            float: right;
          }
          p {
            margin-top: 10px;
            margin-left: 25px;
            font-size: 16px;
          }
        }

        .el-input {
          margin-top: 30px;
          margin-left: 20px;
          width: 90%;
        }

        .foot {
          margin-left: 20px;
          margin-top: 30px;
          b {
            float: right;
            margin-right: 15px;
          }
        }

        .el-input__icon {
          &.profile {
            &:after {
              font-family: iconfont;
              content: "\e627";
              font-style: normal;
              top: -1px;
              left: 5px;
              position: absolute;
            }
          }

          &.password {
            &:after {
              font-family: iconfont;
              content: "\E600";
              font-style: normal;
              top: -1px;
              left: 3px;
              position: absolute;
              font-size: 18px;
            }
          }
        }

        .btn-login {
          margin-top: 30px;
          color: #fff;
          background: #2ecc71;
          border: none;
          padding: 12px 15px;
          width: 90%;
          margin-left: 20px;
          border-radius: 30px;
          &:hover {
            background-image: linear-gradient(
              transparent,
              rgba(0, 0, 0, 0.05) 40%,
              rgba(0, 0, 0, 0.1)
            );
          }
        }
        .account {
          margin: 20px 30px;
          text-decoration: underline;
          text-align: center;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
  