.page-cart {
  width: 1190px;
  margin: 20px auto;
  .el-icon-shopping-cart-2 {
    font-size: 28px;
    color: red;
    font-weight: bold;
  }
  .cart {
    font-size: 20px;
  }
  .m-cart {
    .has-gutter{
      > tr{
        color:#fe6428;
        font-weight: bold;
      }
    }
    .el-table {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      .el-table__body tr {
        color:#000;
        &:hover {
          > td {
            background-color: white;
          }
        }
      }
    }
    > p {
      text-align: right;
      width: 1190px;
    }
    .post {
      width: 1190px;
    }
    .cell {
      text-align: center;
    }
  }

  .empty {
    background: #fff;
    padding: 20px;
    text-align: center;
  }
  .m-cart {
    background: #f8f8f8;
    width: 1190px;
    margin: 0 auto;
    padding-top: 11px;

    > section {
      width: 1190px;
    }

    > p {
      text-align: right;
      font-size: 12px;
      font-weight: bolder;
      color: #666;
      line-height: 30px;
    }

    > div.post {
      text-align: right;
      .el-button {
        background: #fe6428;
        border: none;
        margin-top: 2px;
      }
    }

    .money {
      font-size: 24px;
      color: red;
      font-style: normal;
    }
  }

  div[role="dialog"] {
    z-index: 99999 !important;
  }

  .v-modal {
    z-index: 99995 !important;
  }
}

.el-mail {
  width: 1190px;
}
